{% extends "base.html" %}

{% block content %}





<!-- PENDING EVENTS IN CONOLOCAL ORDER w/ option to approve  -->
<div class="container mb-4 pb-4 px-2 mt-3 ">
  <div class="row justify-content-center mx-2">
    <h2 class="text-center mb-4 text-light">Pending Events</h2>
      {% if not pendingEvents %}
      <div class="card w-100 mb-1 justify-content-center " style="max-width: 70rem; max-height: 25rem;">
      <h5 class="text-center text-secondary m-3">No Pending Events Found!</h5>
      </div>
      {% else %}
      {% for event in pendingEvents %}
      <div class="card w-100 mb-4 justify-content-center clickable-item" data-url="/event/{{ event['id'] }}" style="max-width: 70rem; max-height: 30rem;">
          <img src="" alt="" class="card-img-top">
          <div class="card-body w-100">
              <h5 class="text-center"><span class="fw-semibold">{{ event['name'] }} -</span> <span class="text-muted fs-6">Hosted By {{ event['host'] }}</span></h5>
              <hr style="width:85%; margin: 0 auto;">
              <p class="card-text pt-1">{{ event['description']|safe  }}</p>
          </div>
          <ul class="list-group list-group-flush text-center">
              <li class="list-group-item fw-bold">{{ event['event_date'] }} at {{ event['start_time'] }}</li>
              <li class="list-group-item fw-bold w-100">
                <div class="d-flex ">
                  <form action="/approve-event" method="POST" class="w-100" >
                    <input type="hidden" name="event_id" value="{{ event['eventId'] }}">
                    <button type="submit" class="btn btn-primary w-75">APPROVE</button>
                  </form>
                
                
                  <form action="/deny-event" method="POST" class="w-100">
                    <input type="hidden" name="event_id" value="{{ event['eventId'] }}">
                    <button type="submit" class="btn btn-danger w-75">DENY</button>
                  </form>
                </div>
                
              </li>
          </ul>
          
      </div>
      {% endfor %}
      {% endif %}
  </div>
</div>
 
 <!--CURRENT EVENTS IN CONOLOCAL ORDER w/ option to approve  -->
<div class="container mt-4 mb-5">
  <ul class="list-group">
    <h2 class="text-center mb-4 text-light">Current Events</h2>
    <div class="container mb-2 align-items-center justify-content-center"> 
    
    
    {% if not approvedEvents %}
      <div class="card w-100 mb-1 justify-content-center m-auto" style="max-width: 70rem; max-height: 25rem;">
        <h5 class="text-center text-secondary m-3">No Current Events Found!</h5>
      </div>
    </div>
    {% else %}
    {% for event in approvedEvents %}
    <li class=" list-group-item d-flex justify-content-between align-items-center mb-3 clickable-item" data-url="/event/{{ event['id'] }}">

      <div class="ms-2 me-auto">
        <div class="fw-bold me-3 pb-1"><div class="h4">{{ event['name'] }} <small class="text-muted fs-6">Host: {{ event['host'] }}</small></div></div>
        On <span class="fw-bold">{{ event['event_date'] }}</span> At <span class="fw-bold">{{ event['start_time'] }}</span>
      </div>

      <div class="d-flex align-items-center">
        <form action="/edit-event" method="POST" style="display:inline;">
          <input type="hidden" name="event_id" value="{{ event['eventId'] }}">
          <button type="submit" class="btn btn-success">EDIT</button>
        </form>
      </div>
      
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>     



<script>
  document.addEventListener("DOMContentLoaded", function() {
    const clickableItems = document.querySelectorAll(".clickable-item");

    if (clickableItems) {
      clickableItems.forEach(item => {
        item.addEventListener("click", function() {
          const url = this.dataset.url; 
          if (url) {
            window.location.href = url;
          } else {
            console.error("No URL found for this card");
          }
        });
      });
    } else {
      console.error("No clickable items found");
    }
  });
</script>





{% endblock %}