{% extends "base.html" %}

{% block content %}
<!-- PENDING EVENTS IN CONOLOCAL ORDER w/ option to approve  -->
 
 <!--CURRENT EVENTS IN CONOLOCAL ORDER w/ option to approve  -->
<div class="container mt-4 mb-5">
  <ul class="list-group">
    <h2 class="text-center mb-4 text-light">Current Events</h2>
    {% for event in events %}
    <li class="list-group-item d-flex justify-content-between align-items-center mb-3">

      <div class="ms-2 me-auto ">
        <div class="fw-bold me-3 pb-1"><div class="h4">{{ event['name'] }} <small class="text-muted fs-6">Host: {{ event['host'] }}</small></div></div>
        On <span class="fw-bold">{{ event['event_date'] }}</span> At <span class="fw-bold">{{ event['start_time'] }}</span>
      </div>

      <div class="d-flex align-items-center">
        <form action="/edit-event" method="POST" style="display:inline;">
          <input type="hidden" name="event_id" value="{{ event['id'] }}">
          <button type="submit" class="btn btn-success">EDIT</button>
        </form>
      </div>
      
    </li>
    {% endfor %}
  </ul>
</div>      

      

<!-- DROP DOWN FOR CREATING EVENT-->
<div class="container mb-5 w-100">
    <div class="d-flex">
        <!-- Drop Downs Menue Template-->
        <div class="dropdown w-100">
            <!-- Dropdown Button -->
            <button class="btn btn-light btn-lg dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Create Event
            </button>
            <!-- Dropdown Menu containing the Form -->
            <ul class="dropdown-menu p-4 w-100" aria-labelledby="dropdownMenuButton">
                <li>
                    {% include 'eventMenuAdmin.html' %}
                </li>
            </ul>
        </div>
    </div>
</div>



<script>
  const dropdownButton = document.getElementById('dropdownMenuButton');
  const dropdownMenu = document.querySelector('.dropdown-menu');

  function toggleDropdown(e) {
    dropdownMenu.classList.toggle('show'); 
    e.stopPropagation(); 
  }

  
  dropdownButton.addEventListener('click', toggleDropdown);
  dropdownButton.addEventListener('touchstart', toggleDropdown);

  
  document.addEventListener('click', function () {
    dropdownMenu.classList.remove('show');
  });

 
  dropdownMenu.addEventListener('click', function (e) {
    e.stopPropagation();
  });
</script>

{% endblock %}