{% extends "base.html" %}

{% block content %}

<section class="text-light p-md-5 pb-3 pt-5 text-center text-md-start">
    <div class="container">
        <!--Flex box untill its MD size-->
        <div class="d-md-flex align-items-center justify-content-between">
            <div class="px-3">
                <h1>Welcome to The Kava Bar</h1>
                <p class="lead my-4 mb-0 text-break landingP">Relax, recharge, and rejuvenate with our premium Kava, fresh young coconuts, and organic teas. Experience the calming effects of nature in a peaceful, welcoming space. Unwind, connect with others, and enjoy a moment of tranquility</p>
              </div>
              <img class="m-3 rounded w-50 max-w-large d-none d-md-block"
              src="https://media.newyorker.com/photos/590974aec14b3c606c108678/master/pass/Battan-KavaandtheRiseofHealthyNewYork.jpg"
               alt="">
        </div>
    </div>
</section>






{% endblock %}